In [1]:
import numpy as np 
import pandas as pd
import pdb

from Classifications import *

In [2]:
df = pd.read_csv("Meteorite_Landings.csv")
df.columns = ['name', 'id', 'nametype', 'recclass', 'mass', 'fall', 'year',
       'reclat', 'reclong', 'GeoLocation']

### Drop mass NaNs & 0.0

In [3]:
df = df[(df.mass > 0.0) & (df.mass.isna() == False)]
df.shape

(45566, 10)

## Classifications

In [9]:
df = Classifications.classify_subclasses(df)

In [10]:
df.major_classification.value_counts()

Chondrite        42032
Achondrite        2178
Iron              1041
Stony-Iron         311
uncategorized        4
Name: major_classification, dtype: int64

In [15]:
df.groupby('major_classification').mean()

                                id           mass     reclat     reclong
major_classification
Achondrite            30896.449954    2832.684123 -24.225972   37.769330
Chondrite             26885.663114    1522.094561 -41.663357   64.302098
Iron                  17997.889529  494262.887233   8.131944   -6.022987
Stony-Iron            28007.141479   66261.350830  -2.451259   37.426869
uncategorized         43302.500000       0.078250 -79.683330  159.750000