In [1]:
import numpy as np 
import pandas as pd
import pdb
import requests

from Classifications import *

In [2]:
df = pd.read_csv("Meteorite_Landings.csv")
df.columns = ['name', 'id', 'nametype', 'recclass', 'mass', 'fall', 'year',
       'reclat', 'reclong', 'GeoLocation']

## Drop mass NaNs & 0.0

In [3]:
df = df[(df.mass > 0.0) & (df.mass.isna() == False)]
df.shape

(45566, 10)

## Classifications

In [4]:
df = Classifications.classify_subclasses(df)

In [111]:
classification_df = df.copy()

## Country Coordinates (removes 0.0 0.0 corrdinates)

Excerpt those entries that are not the primary ones from antarctica (handle those below)

In [102]:
geo_df = df[(df.reclat.isna() == False) 
            & (df.reclong.isna() == False) 
            & (df.GeoLocation != '(0.0, 0.0)') # ocean placeholder
            & (df.GeoLocation != '(-71.5, 35.66667)') # antarctica 1
            & (df.GeoLocation != '(-84.0, 168.0)') # antarctice 2
           ].copy()

Handle main antarctic locations (add country/continent name and abreviation without API calls)

In [103]:
antarctic_df = df.loc[(df.GeoLocation == '(-71.5, 35.66667)') | (df.GeoLocation == '(-84.0, 168.0)')].copy()

country = np.array(["Antarctica" for x in range(antarctic_df.shape[0])])
country_abrv = np.array(["AQ" for x in range(antarctic_df.shape[0])])

antarctic_df['country'] = country
antarctic_df['country_abrv'] = country_abrv

Pull in the countries information for the coordinates and format for merge

In [104]:
countries_df = pd.read_csv("countries_master.csv")
countries_df.columns = ['id', 'reclat', 'reclong', 'country', 'country_abrv']
countries_df.drop(['reclat', 'reclong'], axis=1, inplace=True)

Combine country information with geo_df

In [105]:
geo_df = geo_df.merge(countries_df, on="id").copy()

In [106]:
geo_df.head()

,name,id,nametype,recclass,mass,fall,year,reclat,reclong,GeoLocation,major_classification,subclass_category,country,country_abrv
0,Aachen,1,Valid,L5,21.0,Fell,01/01/1880 12:00:00 AM,50.77500,6.08333,"(50.775, 6.08333)",Chondrite,L,Germany,DE
1,Aarhus,2,Valid,H6,720.0,Fell,01/01/1951 12:00:00 AM,56.18333,10.23333,"(56.18333, 10.23333)",Chondrite,H,Denmark,DK
2,Abee,6,Valid,EH4,107000.0,Fell,01/01/1952 12:00:00 AM,54.21667,-113.00000,"(54.21667, -113.0)",Chondrite,E,Canada,CA
3,Acapulco,10,Valid,Acapulcoite,1914.0,Fell,01/01/1976 12:00:00 AM,16.88333,-99.90000,"(16.88333, -99.9)",Achondrite,Acapulcoite,Mexico,MX
4,Achiras,370,Valid,L6,780.0,Fell,01/01/1902 12:00:00 AM,-33.16667,-64.95000,"(-33.16667, -64.95)",Chondrite,L,Argentina,AR

In [107]:
geo_df_final = pd.concat([geo_df, antarctic_df]).copy()

In [109]:
geo_df_final

,name,id,nametype,recclass,mass,fall,year,reclat,reclong,GeoLocation,major_classification,subclass_category,country,country_abrv
0,Aachen,1,Valid,L5,21.00,Fell,01/01/1880 12:00:00 AM,50.77500,6.08333,"(50.775, 6.08333)",Chondrite,L,Germany,DE
1,Aarhus,2,Valid,H6,720.00,Fell,01/01/1951 12:00:00 AM,56.18333,10.23333,"(56.18333, 10.23333)",Chondrite,H,Denmark,DK
2,Abee,6,Valid,EH4,107000.00,Fell,01/01/1952 12:00:00 AM,54.21667,-113.00000,"(54.21667, -113.0)",Chondrite,E,Canada,CA
3,Acapulco,10,Valid,Acapulcoite,1914.00,Fell,01/01/1976 12:00:00 AM,16.88333,-99.90000,"(16.88333, -99.9)",Achondrite,Acapulcoite,Mexico,MX
4,Achiras,370,Valid,L6,780.00,Fell,01/01/1902 12:00:00 AM,-33.16667,-64.95000,"(-33.16667, -64.95)",Chondrite,L,Argentina,AR
5,Adhi Kot,379,Valid,EH4,4239.00,Fell,01/01/1919 12:00:00 AM,32.10000,71.80000,"(32.1, 71.8)",Chondrite,E,Pakistan,PK
6,Adzhi-Bogdo (stone),390,Valid,LL3-6,910.00,Fell,01/01/1949 12:00:00 AM,44.83333,95.16667,"(44.83333, 95.16667)",Chondrite,LL,Mongolia,MN
7,Agen,392,Valid,H5,30000.00,Fell,01/01/1814 12:00:00 AM,44.21667,0.61667,"(44.21667, 0.61667)",Chondrite,H,France,FR
8,Aguada,398,Valid,L6,1620.00,Fell,01/01/1930 12:00:00 AM,-31.60000,-65.23333,"(-31.6, -65.23333)",Chondrite,L,Argentina,AR
9,Aguila Blanca,417,Valid,L,1440.00,Fell,01/01/1920 12:00:00 AM,-30.86667,-64.55000,"(-30.86667, -64.55)",Chondrite,L,Argentina,AR
10,Aioun el Atrouss,423,Valid,Diogenite-pm,1000.00,Fell,01/01/1974 12:00:00 AM,16.39806,-9.57028,"(16.39806, -9.57028)",Achondrite,Diogenite,Mauritania,MR
11,Aïr,424,Valid,L6,24000.00,Fell,01/01/1925 12:00:00 AM,19.08333,8.38333,"(19.08333, 8.38333)",Chondrite,L,Niger,NE
12,Akaba,426,Valid,L6,779.00,Fell,01/01/1949 12:00:00 AM,29.51667,35.05000,"(29.51667, 35.05)",Chondrite,L,Jordan,JO
13,Akbarpur,427,Valid,H4,1800.00,Fell,01/01/1838 12:00:00 AM,29.71667,77.95000,"(29.71667, 77.95)",Chondrite,H,India,IN
14,Akwanga,432,Valid,H,3000.00,Fell,01/01/1959 12:00:00 AM,8.91667,8.43333,"(8.91667, 8.43333)",Chondrite,H,Nigeria,NG
15,Akyumak,433,Valid,"Iron, IVA",50000.00,Fell,01/01/1981 12:00:00 AM,39.91667,42.81667,"(39.91667, 42.81667)",Iron,Iron,Turkey,TR
16,Al Rais,446,Valid,CR2-an,160.00,Fell,01/01/1957 12:00:00 AM,24.41667,39.51667,"(24.41667, 39.51667)",Chondrite,C,Saudi Arabia,SA
17,Al Zarnkh,447,Valid,LL5,700.00,Fell,01/01/2001 12:00:00 AM,13.66033,28.96000,"(13.66033, 28.96)",Chondrite,LL,Sudan,SD
18,Alais,448,Valid,CI1,6000.00,Fell,01/01/1806 12:00:00 AM,44.11667,4.08333,"(44.11667, 4.08333)",Chondrite,C,France,FR
19,Albareto,453,Valid,L/LL4,2000.00,Fell,01/01/1766 12:00:00 AM,44.65000,11.01667,"(44.65, 11.01667)",Chondrite,LL,Italy,IT
20,Alberta,454,Valid,L,625.00,Fell,01/01/1949 12:00:00 AM,2.00000,22.66667,"(2.0, 22.66667)",Chondrite,L,Democratic Republic of the Congo,CD
21,Alby sur Chéran,458,Valid,Eucrite-mmict,252.00,Fell,01/01/2002 12:00:00 AM,45.82133,6.01533,"(45.82133, 6.01533)",Achondrite,Eucrite,France,FR
22,Aldsworth,461,Valid,LL5,700.00,Fell,01/01/1835 12:00:00 AM,51.78333,-1.78333,"(51.78333, -1.78333)",Chondrite,LL,United Kingdom,GB
23,Aleppo,462,Valid,L6,3200.00,Fell,01/01/1873 12:00:00 AM,36.23333,37.13333,"(36.23333, 37.13333)",Chondrite,L,Syria,SY
24,Alessandria,463,Valid,H5,908.00,Fell,01/01/1860 12:00:00 AM,44.88333,8.75000,"(44.88333, 8.75)",Chondrite,H,Italy,IT
25,Alexandrovsky,465,Valid,H4,9251.00,Fell,01/01/1900 12:00:00 AM,50.95000,31.81667,"(50.95, 31.81667)",Chondrite,H,Ukraine,UA
26,Alfianello,466,Valid,L6,228000.00,Fell,01/01/1883 12:00:00 AM,45.26667,10.15000,"(45.26667, 10.15)",Chondrite,L,Italy,IT
27,Allegan,2276,Valid,H5,32000.00,Fell,01/01/1899 12:00:00 AM,42.53333,-85.88333,"(42.53333, -85.88333)",Chondrite,H,United States,US
28,Allende,2278,Valid,CV3,2000000.00,Fell,01/01/1969 12:00:00 AM,26.96667,-105.31667,"(26.96667, -105.31667)",Chondrite,C,Mexico,MX
29,Almahata Sitta,48915,Valid,Ureilite-an,3950.00,Fell,01/01/2008 12:00:00 AM,20.74575,32.41275,"(20.74575, 32.41275)",Achondrite,Ureilite,Sudan,SD
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43474,Yamato 86750,30256,Valid,H5,3.99,Found,01/01/1986 12:00:00 AM,-71.50000,35.66667,"(-71.5, 35.66667)",Chondrite,H,Antarctica,AQ
43475,Yamato 86751,30257,Valid,CV3,197.26,Found,01/01/1986 12:00:00 AM,-71.50000,35.66667,"(-71.5, 35.66667)",Chondrite,C,Antarctica,AQ
43476,Yamato 86752,30258,Valid,CV3,10.27,Found,01/01/1986 12:00:00 AM,-71.50000,35.66667,"(-71.5, 35.66667)",Chondrite,C,Antarctica,AQ
43477,Yamato 86753,30259,Valid,L4,7.51,Found,01/01/1986 12:00:00 AM,-71.50000,35.66667,"(-71.5, 35.66667)",Chondrite,L,Antarctica,AQ
43478,Yamato 86754,30260,Valid,L6,136.31,Found,01/01/1986 12:00:00 AM,-71.50000,35.66667,"(-71.5, 35.66667)",Chondrite,L,Antarctica,AQ
43479,Yamato 86755,30261,Valid,L6,11.04,Found,01/01/1986 12:00:00 AM,-71.50000,35.66667,"(-71.5, 35.66667)",Chondrite,L,Antarctica,AQ
43480,Yamato 86756,30262,Valid,L6,26.93,Found,01/01/1986 12:00:00 AM,-71.50000,35.66667,"(-71.5, 35.66667)",Chondrite,L,Antarctica,AQ
43481,Yamato 86758,30264,Valid,L6,3.45,Found,01/01/1986 12:00:00 AM,-71.50000,35.66667,"(-71.5, 35.66667)",Chondrite,L,Antarctica,AQ
43482,Yamato 86759,30265,Valid,L6,9.21,Found,01/01/1986 12:00:00 AM,-71.50000,35.66667,"(-71.5, 35.66667)",Chondrite,L,Antarctica,AQ
43483,Yamato 86760,30266,Valid,EH-imp melt,7.17,Found,01/01/1986 12:00:00 AM,-71.50000,35.66667,"(-71.5, 35.66667)",Chondrite,E,Antarctica,AQ
43484,Yamato 86761,30267,Valid,L6,5.57,Found,01/01/1986 12:00:00 AM,-71.50000,35.66667,"(-71.5, 35.66667)",Chondrite,L,Antarctica,AQ
43485,Yamato 86762,30268,Valid,Eucrite-pmict,27.34,Found,01/01/1986 12:00:00 AM,-71.50000,35.66667,"(-71.5, 35.66667)",Achondrite,Eucrite,Antarctica,AQ
43486,Yamato 86763,30269,Valid,Eucrite-cm,10.42,Found,01/01/1986 12:00:00 AM,-71.50000,35.66667,"(-71.5, 35.66667)",Achondrite,Eucrite,Antarctica,AQ
43487,Yamato 86767,30273,Valid,C,2.86,Found,01/01/1986 12:00:00 AM,-71.50000,35.66667,"(-71.5, 35.66667)",Chondrite,C,Antarctica,AQ
43488,Yamato 86770,30276,Valid,C,94.89,Found,01/01/1986 12:00:00 AM,-71.50000,35.66667,"(-71.5, 35.66667)",Chondrite,C,Antarctica,AQ
43489,Yamato 86771,30277,Valid,C,38.31,Found,01/01/1986 12:00:00 AM,-71.50000,35.66667,"(-71.5, 35.66667)",Chondrite,C,Antarctica,AQ
43490,Yamato 86772,30278,Valid,C,81.00,Found,01/01/1986 12:00:00 AM,-71.50000,35.66667,"(-71.5, 35.66667)",Chondrite,C,Antarctica,AQ
43491,Yamato 86773,30279,Valid,C,28.35,Found,01/01/1986 12:00:00 AM,-71.50000,35.66667,"(-71.5, 35.66667)",Chondrite,C,Antarctica,AQ
43492,Yamato 86776,30282,Valid,LL4,396.76,Found,01/01/1986 12:00:00 AM,-71.50000,35.66667,"(-71.5, 35.66667)",Chondrite,LL,Antarctica,AQ
43493,Yamato 86777,30283,Valid,L6,80.48,Found,01/01/1986 12:00:00 AM,-71.50000,35.66667,"(-71.5, 35.66667)",Chondrite,L,Antarctica,AQ
43494,Yamato 86779,30285,Valid,L6,15.92,Found,01/01/1986 12:00:00 AM,-71.50000,35.66667,"(-71.5, 35.66667)",Chondrite,L,Antarctica,AQ
43495,Yamato 86787,30293,Valid,L6,4771.00,Found,01/01/1986 12:00:00 AM,-71.50000,35.66667,"(-71.5, 35.66667)",Chondrite,L,Antarctica,AQ
43496,Yamato 86789,30295,Valid,C2-ung,340.36,Found,01/01/1986 12:00:00 AM,-71.50000,35.66667,"(-71.5, 35.66667)",Chondrite,C,Antarctica,AQ
43497,Yamato 86795,30301,Valid,Howardite,9.07,Found,01/01/1986 12:00:00 AM,-71.50000,35.66667,"(-71.5, 35.66667)",Achondrite,Howardite,Antarctica,AQ
43498,Yamato 86796,30302,Valid,H6,6140.00,Found,01/01/1986 12:00:00 AM,-71.50000,35.66667,"(-71.5, 35.66667)",Chondrite,H,Antarctica,AQ
43499,Yamato 86808,30314,Valid,Diogenite,16.44,Found,01/01/1986 12:00:00 AM,-71.50000,35.66667,"(-71.5, 35.66667)",Achondrite,Diogenite,Antarctica,AQ
43500,Yamato 86810,30316,Valid,Diogenite,55.44,Found,01/01/1986 12:00:00 AM,-71.50000,35.66667,"(-71.5, 35.66667)",Achondrite,Diogenite,Antarctica,AQ
43502,Yamato 9202,30322,Valid,Diogenite,3.00,Found,01/01/1992 12:00:00 AM,-71.50000,35.66667,"(-71.5, 35.66667)",Achondrite,Diogenite,Antarctica,AQ
43683,Yamato 980318,30340,Valid,Eucrite-cm,166.81,Found,01/01/1998 12:00:00 AM,-71.50000,35.66667,"(-71.5, 35.66667)",Achondrite,Eucrite,Antarctica,AQ
44210,Yamato 981651,30343,Valid,Eucrite,235.88,Found,01/01/1998 12:00:00 AM,-71.50000,35.66667,"(-71.5, 35.66667)",Achondrite,Eucrite,Antarctica,AQ