In [119]:
import numpy as np 
import pandas as pd
import pdb

In [4]:
df = pd.read_csv("Meteorite_Landings.csv")

In [5]:
df.columns = ['name', 'id', 'nametype', 'recclass', 'mass', 'fall', 'year',
       'reclat', 'reclong', 'GeoLocation']

### Drop mass NaNs & 0.0

In [98]:
df = df[(df.mass > 0.0) & (df.mass.isna() == False)]
df.shape

(45566, 10)

## Classifications

In [82]:
# A function to quickly do manual search for classification type
def find_classification(classification=''):
    for c in df.recclass:
        if classification in c:
            print(c)

find_classification("Mesos")

Mesosiderite-A1
Mesosiderite
Mesosiderite-A1
Mesosiderite-A3/4
Mesosiderite-A3
Mesosiderite-A1
Mesosiderite-B2
Mesosiderite
Mesosiderite
Mesosiderite-B1
Mesosiderite-B1
Mesosiderite-B1
Mesosiderite
Mesosiderite
Mesosiderite
Mesosiderite
Mesosiderite-B4
Mesosiderite-B4
Mesosiderite
Mesosiderite-an
Mesosiderite-B1
Mesosiderite-A2
Mesosiderite-A1
Mesosiderite
Mesosiderite
Mesosiderite-A
Mesosiderite?
Mesosiderite-B
Mesosiderite
Mesosiderite
Mesosiderite
Mesosiderite-A3
Mesosiderite
Mesosiderite
Mesosiderite
Mesosiderite
Mesosiderite
Mesosiderite
Mesosiderite
Mesosiderite
Mesosiderite
Mesosiderite
Mesosiderite
Mesosiderite
Mesosiderite-A4
Mesosiderite
Mesosiderite
Mesosiderite-C2
Mesosiderite
Mesosiderite
Mesosiderite
Mesosiderite
Mesosiderite
Mesosiderite
Mesosiderite
Mesosiderite
Mesosiderite
Mesosiderite
Mesosiderite
Mesosiderite
Mesosiderite
Mesosiderite
Mesosiderite
Mesosiderite
Mesosiderite
Mesosiderite
Mesosiderite
Mesosiderite
Mesosiderite
Mesosiderite
Mesosiderite
Mesosiderite
Mesosiderite
Mesosiderite
Mesosiderite
Mesosiderite
Mesosiderite
Mesosiderite
Mesosiderite
Mesosiderite
Mesosiderite
Mesosiderite
Mesosiderite
Mesosiderite
Mesosiderite
Mesosiderite
Mesosiderite
Mesosiderite
Mesosiderite-A
Mesosiderite
Mesosiderite
Mesosiderite
Mesosiderite
Mesosiderite
Mesosiderite
Mesosiderite
Mesosiderite-B4
Mesosiderite-A3
Mesosiderite-A1
Mesosiderite-A2
Mesosiderite-B
Mesosiderite-B
Mesosiderite-C
Mesosiderite-B
Mesosiderite-C
Mesosiderite-C
Mesosiderite-B2
Mesosiderite
Mesosiderite-C
Mesosiderite
Mesosiderite-B2
Mesosiderite-C
Mesosiderite
Mesosiderite
Mesosiderite
Mesosiderite
Mesosiderite
Mesosiderite
Mesosiderite
Mesosiderite
Mesosiderite
Mesosiderite-A2
Mesosiderite
Mesosiderite
Mesosiderite-C
Mesosiderite
Mesosiderite
Mesosiderite
Mesosiderite
Mesosiderite
Mesosiderite
Mesosiderite
Mesosiderite
Mesosiderite
Mesosiderite
Mesosiderite
Mesosiderite
Mesosiderite
Mesosiderite
Mesosiderite
Mesosiderite
Mesosiderite-B2
Mesosiderite
Mesosiderite
Mesosiderite
Mesosiderite
Mesosiderite
Mesosiderite
Mesosiderite-B2
Mesosiderite
Mesosiderite
Mesosiderite
Mesosiderite-A4
Mesosiderite
Mesosiderite
Mesosiderite
Mesosiderite
Mesosiderite
Mesosiderite
Mesosiderite
Mesosiderite
Mesosiderite
Mesosiderite
Mesosiderite
Mesosiderite
Mesosiderite
Mesosiderite
Mesosiderite
Mesosiderite
Mesosiderite-C2
Mesosiderite-an
Mesosiderite-an
Mesosiderite-an
Mesosiderite-an
Mesosiderite-an
Mesosiderite
Mesosiderite
Mesosiderite
Mesosiderite-A4
Mesosiderite
Mesosiderite
Mesosiderite-A1
Mesosiderite
Mesosiderite
Mesosiderite
Mesosiderite-C

In [195]:
subclasses = {
    "Chondrite": (
        "CB", 
        "CH",
        "CK",
        "CM",
        "CR",
        "CV",
        "CO",
        "CI",

        "H",
        "L",
        "LL",

        "R",

        "EH",
        "EL",
        
        # observed
        "E",
        "Chondrite",
        # wiki
        "OC", # ordinary chondrite
        "K",
        "C" # ungrouped Carbonaceous
    ),
    
    "Achondrite" : (
        "Iodranite",
        "Acapulcoite",
        "Winonaite",
        
        "Martian",
        "Shergottite",
        "Nakhlite",
        "Chassignite",
        "ALH 84001 opx",
        
        "Aubrite",
        "Ureilite",
        "HED",
        "Eucrite",
        "Diogenite",
        "Howardite",
        
        "Angrite",
        
        "Brachinite",
        
        "Lunar",
        "breccia",
        "basaltic",
        "polymict",
        
        # observed
        
        "Achondrite"
    ),
    
    "Stony-Iron": (        
        "Pallasite",
        "Mesosiderite",
        
        "Stone", # observation
    ),
    
    "Iron": (
        "Iron",
        
        "IAB",
        "IIAB",
        "IIIAB",
        "IVAB",
    )
}

In [196]:
# generate object to associate values with classification

def gen_classifiers(subclasses):
    subclass_match = {}
    for _class, subclass_list in subclasses.items():
        for sc in subclass_list:
            subclass_match[sc] = _class
    return subclass_match
        
# gen_classifiers(subclasses)

In [197]:
classifications = []
match_on = []

classifiers = gen_classifiers(subclasses)
for i, rc in enumerate(df.recclass):
    classifications.append("uncategorized")
    match_on.append(None)
    for subclass in classifiers:
        if subclass in rc:
#             if len(classifications) - 1 == i:
            classifications[i] = classifiers[subclass]
            match_on[i] = subclass
#             else:
#                 classifications.append(classifiers[subclass])
#                 match_on.append(subclass)
        
len(classifications)

df["major_classification"] = classifications
df['classification_match_on'] = match_on
df.head()

,name,id,nametype,recclass,mass,fall,year,reclat,reclong,GeoLocation,major_classification,classification_match_on
0,Aachen,1,Valid,L5,21.0,Fell,01/01/1880 12:00:00 AM,50.77500,6.08333,"(50.775, 6.08333)",Chondrite,L
1,Aarhus,2,Valid,H6,720.0,Fell,01/01/1951 12:00:00 AM,56.18333,10.23333,"(56.18333, 10.23333)",Chondrite,H
2,Abee,6,Valid,EH4,107000.0,Fell,01/01/1952 12:00:00 AM,54.21667,-113.00000,"(54.21667, -113.0)",Chondrite,E
3,Acapulco,10,Valid,Acapulcoite,1914.0,Fell,01/01/1976 12:00:00 AM,16.88333,-99.90000,"(16.88333, -99.9)",Achondrite,Acapulcoite
4,Achiras,370,Valid,L6,780.0,Fell,01/01/1902 12:00:00 AM,-33.16667,-64.95000,"(-33.16667, -64.95)",Chondrite,L

In [198]:
df.major_classification.value_counts()

Chondrite        41991
Achondrite        2172
Iron              1041
Stony-Iron         311
uncategorized       51
Name: major_classification, dtype: int64

In [199]:
df[df.major_classification == 'uncategorized'].recclass.value_counts()

C2-ung          14
C3-ung          12
C                8
Fusion crust     4
C4-ung           3
C6               2
C4               2
C4/5             1
C3.0-ung         1
C1/2-ung         1
C5/6-ung         1
C2               1
C3/4-ung         1
Name: recclass, dtype: int64